*.lo
*.la
*.log
*.so
*.o
*.a
.libs/*
.deps/*
*~
Makefile
config.h
config.status
stamp-h1
conqai
conqdriv
conqinit
conqinit-lex.c
conqinit-yacc.c
conqinit-yacc.h
conqmetad
conqoper
conqstrat
conqstrat-lex.c
conqstrat-yacc.c
conqstrat-yacc.h
conquest
conquestd
conquestgl

libtool
autom4te.cache
Makefile.in
compile
config.guess
config.sub
configure
depcomp
install-sh
m4/
missing
ylwrap
aclocal.m4
ltmain.sh

*.gz
cscope.out


