[Unit]
Description=Conquest MetaServer Daemon
After=network-online.target

[Service]
Type=forking
Restart=on-failure
ExecStart=/opt/bin/conqmetad -d -u nobody

[Install]
WantedBy=network-online.target

