# example conquest.service file, edit to for your site.
[Unit]
Description=Conquest Game server 1701
After=network-online.target

[Service]
Type=simple
Restart=on-failure
# edit for your site
ExecStart=/opt/bin/conquestd -u nobody

[Install]
WantedBy=network-online.target

